<!-- <p>login works!</p>
<form (ngSubmit)="login()">
  username: <input type="text" [(ngModel)]="user.username" name="username" required><br>
  password: <input type="password" [(ngModel)]="user.password" name="password" required><br>
  
  Role: <select [(ngModel)]="user.userRole" name="role" required>
    <option value="">Select Role</option>
    <option *ngFor="let r of roles" [value]="r">{{r}}</option>
  </select>

  <button type="submit">Login</button>
</form> -->




<!-- <form (ngSubmit)="login()">
  <label>Username:</label>
  <input type="text" [(ngModel)]="user.username" name="username" required><br>

  <label>Password:</label>
  <input type="password" [(ngModel)]="user.password" name="password" required><br>

  <label>Role:</label>
  <select [(ngModel)]="user.userRole" name="role" required>
    <option value="">Select Role</option>
    <option *ngFor="let r of roles" [value]="r">{{r}}</option>
  </select>

  <button type="submit">Login</button>
</form> -->



<form (ngSubmit)="login()">
  <label>Username:</label>
  <input type="text" [(ngModel)]="loginForm.username" name="username" required><br>

  <label>Password:</label>
  <input type="password" [(ngModel)]="loginForm.password" name="password" required><br>

  <label>Role (optional):</label>
  <select [(ngModel)]="loginForm.userRole" name="role">
    <option value="">Select Role</option>
    <option *ngFor="let r of roles" [value]="r">{{r}}</option>
  </select><br>

  <button type="submit">Login</button>
</form>
