<!-- Primary Navbar -->
<nav  class="navbar navbar-expand-lg navbar-dark primary-navbar">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="maincomp">
      <img src="assets\images\hospital-logo-vector_1277164-14205.avif" alt="" class="logo-img me-2" />
      <span>Our Hospital</span>
    </a>

    <!-- Search Box -->
    <form class="d-flex mx-auto search-box">
      <input class="form-control" type="search" placeholder="Search..." />
    </form>

    <!-- Right Side -->
    <div class="d-flex">
      <button class="btn btn-outline-light btn-sm me-2"><a class="nav-link" routerLink="login">Login</a></button>
      <button class="btn btn-outline-light btn-sm me-2"><a class="nav-link" routerLink="register">Register</a></button>

         <button class="profile-btn rounded-btn" routerLink="/profile">
          <i class="fa fa-user"></i>
        </button>
    </div>
  </div>
</nav>


<!-- hi Babgladesh -->



<!-- Secondary Navbar -->
<nav class="navbar navbar-expand-lg secondary-navbar">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <li class="nav-item">
        <a class="nav-link text-white" href="home">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" href="lab">Laberotary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="doctor">Doctor</a>
      </li>



<!--       
     <li class="nav-item dropdown hover-dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#">Pathologist</a>
  <ul class="dropdown-menu colorful-dropdown">

    <li class="dropdown-submenu hover-submenu">
      <a class="dropdown-item dropdown-toggle" href="#">Diagnostic Test Booking</a>
      <ul class="dropdown-menu colorful-dropdown">
        <li><a class="dropdown-item" href="#">Add</a></li>
        <li><a class="dropdown-item" href="#">View</a></li>
      </ul>
    </li>

    <li><a class="dropdown-item" href="#">Payment</a></li>
    <li><a class="dropdown-item" href="#">Invoice</a></li>
    <li><a class="dropdown-item" href="#">Report Generation</a></li>
  </ul>
</li> -->




      <!-- Pharmacist Dropdown -->
      <!-- <li class="nav-item dropdown hover-dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" > Pharmacist</a>
        <ul class="dropdown-menu colorful-dropdown">
          <li><a class="dropdown-item" href="#">Order</a></li>
          <li><a class="dropdown-item" href="#">Supply</a></li>
          <li><a class="dropdown-item" href="#">Invoice</a></li>
          <li><a class="dropdown-item" href="#">Payment</a></li>
        </ul>
      </li> -->

      <!-- Direct Links -->
     <li class="nav-item">
        <a class="nav-link text-white" href="pharma">Pharmacist</a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link text-white" href="doctorDas">Doctor Dashboard</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link text-white" href="DoctorCard">Doctor</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link text-white" href="patientDas">Patient Dashbosrd</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link text-white" href="appointment">Appointment</a>
      </li>
    </ul>
  </div>
</nav>
