<!-- <div class="container mt-4">
  <h4 class="text-center">📊 Daily Appointment Payments</h4>

  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [type]="barChartType">
  </canvas>
</div> -->




<div class="container mt-4">
  <h4 class="text-center">📊 Daily Lab Payments</h4>

  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [type]="barChartType">
  </canvas>
</div>
